<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buying</title>
    <link rel="stylesheet" href="../../../css/main.css">
 
</head>
<body>
    <div class="buy-container">
        <nav>
            <div class="logo">
                <img src="../../../img/logo.jpg" width="80">
            </div>
            <div class="nav-center">
                <ul>
                    <li >
                        <ion-icon name="home-outline"></ion-icon>
                        <a href="../../../home.html">HOME</a>
                    </li>
                    <li>
                        <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
                        <a href="../customer.html">CUSTOMER</a>
                    </li>
                    <li>
                        <ion-icon name="folder-outline"></ion-icon>
                        <a href="../../seller/seller.html">SELLER</a>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <ion-icon name="cart"></ion-icon>
                <!-- <ion-icon name="log-out-outline"></ion-icon> -->
            </div>
    </div>

    <!-- ==================buy -->
    <div class="buy_product" >
        <strong>YOUR CART</strong>
        <div class="dicribe">
            <span class="">Title book</span>
            <span class="">Price book</span>
            <span class="">Type book</span>
        </div>

        

        <div class="main_buy"> 

        </div>
            <!-- <img src="../../../img/book1.jpg" width="80" id="img_on_buy">
            <input type="number" value="1" class="quality-book">
            <div class="main-title">
                <div class="title-book">
                    <span>Title:</span>
                    <p id="name_book"></p>
                </div>
                <div class="price">
                    <span>Price:</span>
                    <div class="price_title">
                        <p id="price_book"></p>
                        <p id="pay_book"></p>
                    </div>
                </div>
                <div id="typeOfBook">
                    <span>Type:</span>
                    <p id="type_book"></p>
                </div>
            </div>
            <img src="../../../img/delete.png" width="50">
        </div>
        <br> -->
    </div>



<div class="order-footer">
    <div class="total_prices">
        <div class="total-title">Total</div>
        <div class="total_price">$5</div>
    </div>
    <div class="btn">
        <button id="buybooknow">Buy now</button>
    </div>
</div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/buy.js"></script>
</body>
</html>